.login-main {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.text-field {
    border-color: red;
    width: 30%;
}

.button-field {
    margin-top: 50px;
}