

.signup-main {
    justify-content: center;
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0;
}

.signup-error-dialog {
    background: black;
    border-color: '#32B515';
    border-width: 2px;
    border-radius: 4px;

}